.container {
    position: absolute;
    bottom: 2%;
    right: 2%;
    transform: translate(0%, -50%);
    z-index: 1111;
}

.divAlert {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
}